.reviewContainer {
  width: 90vw;
  margin: 0 auto;
  margin-top: 5vh;
  height: 78vh !important;
  border: 2px solid #ccc;
  border-radius: 10px;
  gap: 10px;
  padding: 25px;
}

.rewForm {
  margin: 0 auto;
  margin-top: 2vh;
  width: 85vw;
  height: 65vh !important;
  overflow: auto !important;
}

.reviewList {
  width: 100%;
  padding-right: 10px;
}

.rewForm {
  height: 60vh;
  overflow: auto !important;
}

.ant-empty-normal {
  display: none;
  height: 60vh;
  overflow: auto !important;
}

.inputField {
  width: 100%;
}
.authorReply {
  display: flex;
  flex-direction: row ;
  gap: 10px;
}

.authorName {
  margin-left: 10px; /* This adds space between the avatar and the name */
  font-weight: bold; /* This makes the name bold */
}
@media screen and (max-width: 768px) {
  .reviewContainer {
    flex-direction: column;
    width: 95vw;
    margin: 0 auto;
    margin-top: 5vh;
    height: 70vh !important;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 0px !important;
    padding-top: 25px !important;
  }
}
