@font-face {
  font-family: "MyCustomFont1";
  src: url("../../../public/fonts/Poppins-Regular.ttf") format("woff2");
}
body {
  font-family: "MyCustomFont1" !important;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

.Container {
  display: flex;
  flex-direction: column;
}

/*--------------------Header Styles Desktop-start--------------*/
.navBarIcon {
  margin-right: 5px;
}

.NavLink {
  text-decoration: none;
  color: #4338ca !important;
  margin-right: 10px;
  border-bottom: 3px solid transparent;
  font-weight: bold; /* Fixed font weight added */
}

.NavLink:hover {
  color: rgba(67, 56, 202, 0.8) !important;
  border-bottom: 3px solid rgba(67, 56, 202, 0.4);
}

.dropItems {
  text-decoration: none;
  color: #4338ca !important;
  font-weight: bold; /* Fixed font weight added */
}
.dropItems:hover {
  color: rgba(67, 56, 202, 0.8) !important;
}

.RegisterButton {
  width: 120px;
  height: 40px;
  background-color: #4338ca;
  color: white !important;
  border: none;
  border-radius: 5px;
  font-weight: bold; /* Fixed font weight added */
}

.RegisterButton:hover {
  border: 2px solid #4338ca;
  background-color: white;
  color: 4338ca !important;
}

/*-----------------arrow animation Start -Desktop------------*/
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 10%;
  color: #000080;
}

.arrows path {
  stroke: white;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
/*-----------------arrow animation End -Desktop------------*/

/*-----------------arrow animation Start -Mobile------------*/
@media (max-width: 767px) {
  .arrows {
    display: none;
  }
}
/*-----------------arrow animation End -Mobile------------*/

/*--------------------Header Styles Desktop-end--------------*/
/*--------------------Header Styles Mobile-start--------------*/
@media (max-width: 767px) {
  body {
    font-family: "MyCustomFont1" !important;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .NavLink {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-bottom: none;
  }

  .NavLink:hover {
    margin-left: auto;
    margin-right: auto;
    border-left: 3px solid #4338ca;
    border-bottom: none;
    background-color: #eef2ff;
  }
}
/*--------------------Header Styles Mobile-end--------------*/

/*--------------------Event Styles Desktop-start--------------*/

.EventContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 40%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.EventImage {
  position: relative;
  width: 100vw;
  height: 85vh;
}
.EventImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Black color with 50% opacity */
}

.EventText {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 1;
  padding: 20px;
  padding-left: 40px;
  padding-top: 40px;
}

.eventName {
  font-size: 60px;
  font-weight: bold;
}

.eventDescription {
  width: 60vw;
  font-size: 25px;
  text-align: left;
  line-height: 1.3;
}

.eventDate {
  margin-top: 40px;
  font-size: 68px;
  font-weight: bold;
  line-height: 0.8;
}
/*--------------------Event Styles Desktop-end--------------*/
/*--------------------Event Styles Mobile-start--------------*/
@media (max-width: 767px) {
  .EventText {
    padding: 20px;
    padding-left: 20px;
    padding-top: 30px;
  }

  .eventName {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .eventDescription {
    width: 75vw;
    font-size: 16px;
    text-align: justify;
  }

  .eventDate {
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
  }
}

/*--------------------Event Styles Mobile-end--------------*/

/*--------------------Gallery Styles Desktop-start--------------*/
.galleryContainer {
  width: 100vw;
  height: 100vh;
}

.galleryTitle {
  font-size: 56px;
  font-weight: bold;
  margin: 40px;
}

.galleryTitle::first-letter {
  border-bottom: 5px solid rgba(67, 56, 202, 0.4);
}
/*--------------------Gallery Styles Desktop-end--------------*/
/*--------------------Gallery Styles Mobile-start--------------*/
@media (max-width: 767px) {
  .galleryTitle {
    font-size: 36px;
    font-weight: bold;
    margin: 30px;
  }
}
/*--------------------Gallery Styles Mobile-end--------------*/

/*--------------------Request Styles Desktop-start--------------*/
.RequestContainer {
  width: 100vw;
  height: 100vh;
}

.RequestTitle {
  font-size: 56px;
  font-weight: bold;
  margin: 30px 40px 40px 40px;
}

.RequestTitle::first-letter {
  border-bottom: 5px solid rgba(67, 56, 202, 0.4);
}

/*--------------------Request Styles Desktop-end--------------*/
/*--------------------Request Styles Mobile-start--------------*/
@media (max-width: 767px) {
  .RequestTitle {
    font-size: 36px;
    font-weight: bold;
    margin: 30px;
  }
}
/*--------------------Request Styles Mobile-end--------------*/

/*--------------------Youtube Styles Desktop-start--------------*/
.YoutubeContainer {
  width: 100vw;
  height: 100vh;
}

.YoutubeTitle {
  font-size: 56px;
  font-weight: bold;
  margin: 30px 40px 40px 40px;
}

.YoutubeTitle::first-letter {
  border-bottom: 5px solid rgba(67, 56, 202, 0.4);
}

/*--------------------Youtube Styles Desktop-end--------------*/
/*--------------------Youtube Styles Mobile-start--------------*/
@media (max-width: 767px) {
  .YoutubeTitle {
    font-size: 36px;
    font-weight: bold;
    margin: 30px;
  }
}
/*--------------------Youtube Styles Mobile-end--------------*/

/*--------------------Author Styles Desktop-start--------------*/
.AuthorContainer {
  width: 100vw;
  height: 105vh;
}

.AuthorTitle {
  font-size: 56px;
  font-weight: bold;
  margin: 30px 40px 40px 40px;
}

.AuthorTitle::first-letter {
  border-bottom: 5px solid rgba(67, 56, 202, 0.4);
}

/*--------------------Author Styles Desktop-end--------------*/
/*--------------------Author Styles Mobile-start--------------*/

@media (max-width: 767px) {
  .AuthorContainer {
    width: 100vw;
    height: 166vh;
  }

  .AuthorTitle {
    font-size: 36px;
    font-weight: bold;
    margin: 30px;
  }
}
/*--------------------YouAuthortube Styles Mobile-end--------------*/

/*--------------------Footer Styles Desktop-start--------------*/
.FooterContainer {
  border-radius: 0% 100% 0% 0% / 0% 27% 76% 10%;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #16151a;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
}

.FooterLogo {
  margin-top: auto;
  margin-bottom: auto;
}

.FooterNavigation {
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 150px;
}

.FooterNavigation a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.FooterNavigation a:hover {
  font-weight: bold;
  transition: 0.5s;
}

.FooterButton {
  width: 90px;
}

.FooterSocialLinks {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.mobileFooterContainer {
  display: none;
}

/*--------------------Footer Styles Desktop-end--------------*/
/*--------------------Footer Styles Mobile-start--------------*/

@media (max-width: 767px) {
  .FooterContainer {
    display: none;
  }
  .mobileFooterContainer {
    border-radius: 84% 100% 0% 0% / 29% 30% 76% 10%;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #16151a;
  }

  .FooterContainer {
    display: none;
  }

  .navbarButtonContainer {
    /* Add this class */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .mobileNavigation {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .mobileNavigation a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }

  .FooterMobileButton {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: auto;
  }

  .FooterSocialLinksMobile {
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
/*--------------------Footer Styles Mobile-end--------------*/

/*--------------------copyright Styles Desktop-start--------------*/
.copyright {
  color: white;
  background-color: #16151a;
  font-size: 14px;
  margin: 0;
  text-align: center;
}
/*--------------------copyright Styles Desktop-End--------------*/

/*--------------------copyright Styles Mobile-start--------------*/

@media (max-width: 767px) {
  .copyright {
    font-size: 12px;
    padding-top: 10px;
  }
}
/*--------------------copyright Styles Mobile-end--------------*/
