body {
  overflow-y: hidden;
}

.welcome {
  color: white;
  font-size: 18px;
  text-align: center;
  height: 51px;
  background-color: #001529;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signout:hover {
  background-color: red !important;
}

.signout:active, .signout:focus {
  background-color: inherit !important;
}

.trigger:hover {
  background-color: #023566 !important;
}

.titleBar {
  width: 100%;
  height: 45px; 
  background-color: #1D5596;
}

.title {
  color: white;
  font-size: 18px;
  margin-left: 40px;
  margin-top: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

.HeaderButtonSet {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
