.SignUpContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.SignUpContainer > :first-child {
    flex: 1;
}

.SignUpContainer > :last-child {
    flex: 3;
}

.profileIcon {
    margin: 30px 30px 20px 30px;
    padding: 10px;
    width: 60px;
    height: 60px; 
    border-radius: 50%;
    border: 2px solid #C8C8C8;
    object-fit: cover; 
}

.SignUpFormHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUpFormTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5A5A5A;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.SignUpFormButton {
    margin-bottom: 10px;
    border-radius: 0px;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;
}

.SignUpLabel {
    font-family: "Roboto", sans-serif;
  color: #666666;
}